@model Movie[]

<ul class="image-list">
    @foreach (var movie in Model)
    {
        <li class="image-list-item">
            <div class="left">
                <img src="@movie.ImageUrl" class="image-list-item-image" />
                @movie.Title (@movie.Year) - @movie.Genre.Name
            </div>
            <div class="right">
                @Ajax.ActionLink("Edit", "Edit", new { id = movie.Id },
               new AjaxOptions
               {
                   UpdateTargetId = "details"
               })) |
                @Ajax.ActionLink("Details", "Details", new { id = movie.Id },
               new AjaxOptions
               {
                   UpdateTargetId = "details"
               })
                @Html.ActionLink("Delete", "Delete", new { id = movie.Id })
            </div>
        </li>
    }
</ul>

<div id="details"></div>
