@model MovieListViewModel
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@if (!string.IsNullOrWhiteSpace(Model.Search))
{
    <span>Found @Model.Movies.Length movies.</span>
}

@using (Ajax.BeginForm("Search", new AjaxOptions
{
    InsertionMode = InsertionMode.Replace,
    HttpMethod = "GET",
    OnFailure = "onSearchFailed",
    OnSuccess = "onSearchSuccess",
    LoadingElementId = "loader",
    UpdateTargetId = "search-result"   
}))
{
    <input type="search" name="search" />
    <input type="submit" value="Search!" />
    <span id="loader" style="display:none;">
        <img src="@Url.Content("~/Content/ajax-loader.gif")" />
    </span>
}

@if (Request.IsAuthenticated)
{
    using (Html.BeginInlineForm("Create", "Movie"))
    {
        @Html.AntiForgeryToken()
        @Html.LabelFor(m => m.NewMovie.Title)
        @Html.EditorFor(m => m.NewMovie.Title)
        @Html.LabelFor(m => m.NewMovie.Year)
        @Html.EditorFor(m => m.NewMovie.Year)
        @Html.LabelFor(m => m.NewMovie.ImageUrl)
        @Html.EditorFor(m => m.NewMovie.ImageUrl)
        <input type="submit" value="Add!" />
    }
}

<div id="search-result">
    @Html.Partial("_ListPartial", Model.Movies)
</div>

@section scripts {
    @Scripts.Render("~/bundles/unobtrusiveajax")
    <script>
        function onSearchFailed(err) {
            console.error(err);
        }
        function onSearchSuccess(data) {
            console.log(data);
        }
    </script>
}